<DOCTYPE HTML>
<html>
<head>
	<title>Belajar ajax</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>KDPRODI</th>
			<th>Nama Prodi</th>
			<th>KDFAKULTAS</th>
			<th>KETERANGAN</th>
		</tr>
		<tr>
			<td>{{ container[0] }}</td>
			<td>{{ container[1] }}</td>
			<td>{{ container[2] }}</td>
			<td>{{ container[3] }}</td>
		</tr>
	</table>
	<!-- <form action=""> 
	  <select name="kaprodi" onchange="showCustomer(this.value)">
	    <option value="">Select a customer:</option>
	    <option value="">Alfreds Futterkiste</option>
	    <option value="">North/South</option>
	    <option value="">Wolski Zajazd</option>
	  </select>
	</form> -->
</body>
</html>